@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

#publications_header{
  font-weight: 700;
  font-size: 2.5em;
display: flex;
justify-content: center;
padding-top: 1em;
padding-bottom: 0.2em;
font-family: "DM Sans",sans-serif;

}
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.publications_list{
  display: flex;
  flex-direction: column;
margin:auto;
  background-color: darkgreen;
   justify-content: space-evenly;
  /* align-content: center; */ 
}


/* -------- */
@media screen and (max-width: 800px) {

#publications_header{
  font-weight: 600;
  font-size: 1.5em;
  margin: 5% 40%;
  font-family: "DM Sans",sans-serif;
}

}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {

#publications_header{
  font-weight: 600;
  font-size: 1.3em;
  margin: 5% 45%;
  font-family: "DM Sans",sans-serif;
}

}