@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500&family=Spectral:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;1,200;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');


.s_row {
  display: flex;
  margin:5% 8%;
  margin-top: -1%;
  flex-wrap: wrap;
  padding: 0 4px;
  justify-content: space-evenly;
  /* background-color: aqua; */
}

/* Create four equal columns that sits next to each other */
.s_column {
  flex: 22%;
  max-width: 25%;
  padding: 0px 10px;
  border: solid;
  border-style: hidden;
  border-radius: 11px;
  /* background-color: grey; */
  margin-left:1,5%;
  margin-right: 1.5%; 
}

.scientist_img{
width: 100%;
}
.s_column img {
  /* margin-top: 8px; */
  vertical-align: middle;
  border: solid;
  border-style: hidden;
  clip-path: circle();
    margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}
.scientist_bio{
  margin-top:-50px;
display: flex;
flex-direction: column;
/* background-color: red; */
}
.scientist_bio_row{
flex:80%;
text-align: center;
font-family: "DM Sans";
font-weight: 700;
font-size:1.2em;
}
.scientist_bio_row_details{
  font-weight: 500;
  flex:80%;
text-align: center;
font-family: "DM Sans";
  word-wrap: break-word;

}

/* Small devices (portrait tablets and large phones, 600px and up) */


/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) and (max-width:991px) {
    .s_column {
    flex: 40%;
    max-width: 40%;
  
  }
.scientist_bio{
  margin-top:0px;

/* background-color: red; */
}
}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
.scientist_bio{
  margin-top:-10px;

/* background-color: red; */
}
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
.scientist_bio{
  margin-top:-40px;

/* background-color: red; */
}
}
/* Responsive layout - makes a two column-layout instead of four columns */
@media screen and (max-width: 800px) {
  .s_column {
    flex: 20%;
    max-width: 20%;
  
  }
  .scientist_bio{
  margin-top:-10px;

/* background-color: red; */
}
}

/* Responsive layout - makes the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .s_column {
    flex: 50%;
    max-width: 50%;
  }
  .scientist_bio{
  margin-top:-10px;
}
}